
/* reset */
*{
    padding: 0;
    
    margin:0;
    
    box-sizing: border-box;

    /* border:1px red solid; */
}

.clearfix::after{
    content:'';

    display: table;

    clear:both;
}

/* body */
body{
    width: 70%;

    margin:auto;

    font-family: 'Nunito', sans-serif;
}


header{
    margin-top:50px;
    margin-bottom:50px;

    text-align: center;
}

header h1{
    font-size: 56px;
    font-weight: 900;

    letter-spacing: -3px;
    
    color: #e53170;
}


/* main */

body p{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

section{
    margin-bottom:50px;
}

/* section cards */

section > div{
    float: left;

    width: calc(100% / 3);

    padding: 30px 10px;


}

.card{
    /* float:left;

    width: calc(100% / 3); */
    
    background-color: #0f0e17;

    box-shadow: 1px 1px 20px black;
}

div div.card::after{
    content:'';

    display: table;

    clear: both;
}

/* da fixare immagini */

.card img{
    height: 120px;

    float:left;

    vertical-align: middle;

}

.card ul{
    padding-top:20px;
    
    margin-inline-start:  140px;
    
    list-style-type: none;

    line-height: 30px;
}

/* .card li:nth-of-type(1), .card li:nth-of-type(2){
    margin-bottom: 10px;
} */
    
.name-surname{
    color:white;
    font-weight: 900;
    font-size: 18px;;
}

.work{
    font-weight: 700;
    font-size: 16px;
    color:white;

}

.email{
    font-weight: 500;
    color: #49afdb;
    font-size:14px;
}

/* fine section cards */

/* fine main */
