
/* reset */
*{
    padding: 0;
    
    margin:0;
    
    box-sizing: border-box;

    /* border:1px red solid; */
}

.clearfix::after{
    content:'';

    display: table;

    clear:both;
}

/* body */
body{
    width: 70%;

    margin:auto;

    font-family: 'Nunito', sans-serif;
}


header{
    margin-top:50px;
    margin-bottom:80px;

    text-align: center;
}

header h1{
    font-size: 56px;
    font-weight: 900;
    
    color: #e53170;
}


/* main */

body p{
    text-align: center;
    font-size: 16px;
}

section{
    margin-bottom:50px;
}

/* section cards */

.card{
    float:left;

    width: calc(100% / 3);
    
    background-color: #0f0e17;

    box-shadow: 1px 1px 20px black;
}


.card img{
    width: 120px;
    height: 120px;

    float:left;

    vertical-align: middle;

}

.card ul{
    padding-top:20px;
    
    margin-inline-start:  140px;
    
    list-style-type: none;
}

.card li:nth-of-type(1), .card li:nth-of-type(2){
    margin-bottom: 10px;
}
    
.name-surname{
    color:white;
    font-weight: 700;
    font-size: 16px;;
}

.work{
    font-size: 14px;
    color:white;

}

.email{
    color: #49afdb;
    font-size:12px;
}

/* fine section cards */

/* fine main */



.prova{
    padding:0 16px;
}